<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitForge Admin Dashboard</title>

 
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}">
 

</head>

<body>

 
<nav class="navbar">

    <div class="logo">
        FITFORGE ADMIN
    </div>

    <ul class="nav-links">
        <li><a href="/">Website</a></li>
    </ul>

</nav>

<section class="plans">

    <h2>Admin Dashboard</h2>

    <div class="plan-container">

        <div class="plan-card">

            <h3>Total Members</h3>

            <h4>{{ members_count }}</h4>

        </div>

        <div class="plan-card featured">

            <h3>Total Contacts</h3>

            <h4>{{ contacts_count }}</h4>

        </div>

        <div class="plan-card">

            <h3>Total Trials</h3>

            <h4>{{ trials_count }}</h4>

        </div>

    </div>

</section>
 

</body>

</html>
